<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Log In</title>
        <!-- External CSS -->
        <link rel="stylesheet" href="../css/style.css" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
    </head>
    <body
        class="w-full h-screen flex flex-col justify-center items-center font-[roboto] bg-gray-900"
    >
        <div class="w-full max-w-lg">
            <div
                style="box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);"
                class="overflow-hidden bg-gray-800 rounded-lg shadow-xl"
            >
                <div class="p-8">
                    <h2 class="text-3xl font-extrabold text-center text-white">
                        Welcome Back
                    </h2>
                    <p class="mt-4 text-center text-gray-400">
                        Glad to see you again login to your account below.
                    </p>
                    <form method="POST" action="/login" class="mt-8 space-y-6">
                        <div class="rounded-md shadow-sm">
                            <div class="mt-4">
                                <label for="email" class="text-gray-300"
                                    >Email address</label
                                >
                                <input
                                    placeholder="Enter your email"
                                    class="relative block w-full px-3 py-3 my-3 text-white bg-gray-700 border border-gray-700 rounded-md appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                                    required
                                    autocomplete="email"
                                    type="email"
                                    name="email"
                                    id="email"
                                />
                            </div>
                            <div class="mt-4">
                                <label for="password" class="text-gray-300"
                                    >Password</label
                                >
                                <input
                                    placeholder="Enter your password"
                                    class="relative block w-full px-3 py-3 my-3 text-white bg-gray-700 border border-gray-700 rounded-md appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                                    required
                                    autocomplete="current-password"
                                    type="password"
                                    name="password"
                                    id="password"
                                />
                            </div>
                        </div>

                        <div class="flex items-center justify-between mt-4">
                            <div class="flex items-center">
                                <input
                                    class="w-4 h-4 text-indigo-500 border-gray-600 rounded focus:ring-indigo-400"
                                    type="checkbox"
                                    name="remember-me"
                                    id="remember-me"
                                />
                                <label
                                    class="block ml-2 text-sm text-gray-400"
                                    for="remember-me"
                                    >Remember me</label
                                >
                            </div>

                            <div class="text-sm">
                                <a
                                    class="font-medium text-indigo-500 hover:text-indigo-400"
                                    href="/forgot-password"
                                >
                                    Forgot your password?
                                </a>
                            </div>
                        </div>

                        <div>
                            <button
                                class="relative flex justify-center w-full px-4 py-3 text-sm font-medium text-gray-900 bg-indigo-500 border border-transparent rounded-md group hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                type="submit"
                            >
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
                <div class="px-8 py-4 text-center bg-gray-700">
                    <span class="text-gray-400">Don't have an account?</span>
                    <a
                        class="font-medium text-indigo-500 hover:text-indigo-400"
                        href="/signup"
                        >Sign up</a
                    >
                </div>
            </div>
        </div>
    </body>
</html>
