<!-- Footer Start -->
<footer
    class="flex flex-col items-center justify-center w-full py-7 font-[roboto] bg-[#000] text-gray-200"
>
    <main class="flex flex-col w-[90%] gap-7">
        <div class="flex justify-between w-full">
            <div class="flex flex-col gap-5">
                <h1 class="text-4xl font-black">Logo</h1>
                <ul
                    class="flex items-center justify-between gap-6 w-full font-medium"
                >
                    <li class="font-semibold text-lg">
                        <a href="#">Link One</a>
                    </li>
                    <li class="font-semibold text-lg">
                        <a href="#">Link Two</a>
                    </li>
                    <li class="font-semibold text-lg">
                        <a href="#">Link Three</a>
                    </li>
                    <li class="font-semibold text-lg">
                        <a href="#">Link Four</a>
                    </li>
                    <li class="font-semibold text-lg">
                        <a href="#">Link Five</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-3">
                <p class="font-semibold text-lg">Subscribe</p>
                <form class="flex gap-5">
                    <input
                        class="border-2 border-gray-400 p-2 w-[300px]"
                        type="email"
                        placeholder="Enter your email"
                    />
                    <button class="border-2 border-gray-400 p-2" type="submit">
                        Subscribe
                    </button>
                </form>
                <p class="text-sm">
                    By subscribing you agree to our
                    <a class="underline" href="#">Privacy Policy</a>
                </p>
            </div>
        </div>
        <div class="w-full bg-gray-400 h-[2px]"></div>
        <div class="flex justify-between items-center">
            <ul class="flex gap-6">
                <li class="underline text-sm">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="underline text-sm">
                    <a href="#">Terms of Service</a>
                </li>
                <li class="underline text-sm">
                    <a href="#">Cookie Settings</a>
                </li>
            </ul>
            <p class="text-sm">&copy; 2024 Blood Bank. All rights reserved.</p>
        </div>
    </main>
</footer>
<!-- Footer End -->
